*.pyc
*.py.swp
SimpleCV.egg-info/
build/
dist/
SimpleCV/SimpleCV
doc/_build/
SimpleCV/.settings.xml
SimpleCV/tests/TestCalibrationDistortion.xml
SimpleCV/tests/TestCalibrationIntrinsic.xml
SimpleCV/tests/temp.txt
SimpleCV/sampleimages/tmpimg.jpg
SimpleCV/sampleimages/9d4l.jpg
SimpleCV/utils/*
SimpleCV/utils/
SimpleCV/tests/*.pkl
*.ipynb
*.komodoproject
SimpleCV/sampleimages/04000_face.jpg
SimpleCV/sampleimages/orson_welles_face.jpg
