<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
	<script type=text/javascript src="{{url_for('static', filename='js/jquery.min.js') }}"></script>
	<script type=text/javascript src="{{url_for('static', filename='js/jquery-ui.min.js') }}"></script>
	<script type=text/javascript src="{{url_for('static', filename='js/simplecv.js') }}"></script>
	<script type=text/javascript>
		$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	</script>
	<link href="{{url_for('static', filename='style.css') }}" rel='stylesheet' type='text/css'> 
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>SimpleCV: Flash Webcam Demo</title>
	<meta name="author" content="SimpleCV">
</head>
<body>
	<table>
		<tr>
			<td valign=top>
				<h1>SimpleCV</h1>
				{% if img %}
				<h1><img id=imgoutput src="{{ img }}"></h1>
				{% else %}
					<h1>Can't load image</h1>
				{% endif %}
				<br/>
				<form>
						<input class="button" type=button value="Take Snapshot" id="snapshot">
				</form>
			</td>
		</tr>
	</table>
</body>
</html>

